<!-- Area de texto extensa -->
  <textarea id="t" [(ngModel)]="historiaText" placeholder="Ingresa tu historia académica aquí,
  se recomienda usar chrome o firefox, en otros navegadores puede no funcionar correctamente" name="texto"
            cols="100" rows="10"></textarea>

  <p>
  	<a  class="btn btn-primary btn-large" (click)="historializar()" routerLink="/Results">Aconsejame</a>

  </p>

<!--script>
document.getElementById("algo").onclick = function() {myFunction()};

  function myFunction(){
    var url='/estudiantes/leer_historia';
    console.log("wachu");
    $.ajax({
      type:"POST",
      url:url,
      data:{params:historiatext}
    })};

</script-->
