<section class="team">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="description">Contactanos</h1>
        <div class="col-lg-12">
          <h1 class="description">BackEnd</h1>
          <div class="row text-center">
            <app-contact-diana></app-contact-diana>

            <app-contact-andres></app-contact-andres>

            <app-contact-sebastian></app-contact-sebastian>
          </div>
        </div>

        <div class="col-lg-12">
          <h1 class="description">FrontEnd</h1>
          <div class="row text-center">

            <app-contact-cristian></app-contact-cristian>

            <app-contact-john></app-contact-john>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="row text-center">
  <app-footer></app-footer>
</div>
