<div class="container">
  <header class="jumbotron hero-spacer">
    <img style="float:right;margin:50px" src="b.ico"
     alt="Logo"width="250"height="250">
    <h1 style="color:#000000"> {{title}} </h1>
    <p>
      {{description1}} <br/>
      {{description2}} <br/><br/>
      {{description3}} <br/>
      {{description4}}
    </p>
    <p><a class="btn btn-primary btn-large">Iniciar!</a></p>
  </header>
  <section id="main">

  </section>
  <hr>

  <div class="row">
    <div class="col-lg-12">
      <h3>{{que_es}}</h3>
    </div>
  </div>

  <div class="row text-center">

      <div class="col-md-3 col-sm-6 hero-feature">
          <div class="thumbnail">
            <div class="caption">
              <h3>{{que_es1}}</h3>
              <p>{{que_es2}}</p>
            </div>
          </div>
      </div>

      <div class="col-md-3 col-sm-6 hero-feature">
          <div class="thumbnail">
            <div class="caption">
              <h3>{{facil}}</h3>
              <p>
                {{desFacil1}}<br/>
                {{desFacil2}}<br/>
                {{desFacil3}}
              </p>
            </div>
          </div>
      </div>

      <div class="col-md-3 col-sm-6 hero-feature">
          <div class="thumbnail">
            <div class="caption">
              <h3>{{recomendaciones}}</h3>
              <p>
                {{recomendacion}}
              </p>
            </div>
          </div>
      </div>

      <div class="col-md-3 col-sm-6 hero-feature">
          <div class="thumbnail">
            <div class="caption">
              <h3>{{visualiza}}</h3>
              <p>
                {{vi1}}<br/>
                {{vi2}}<br/>
                {{vi3}}

              </p>
            </div>
          </div>
      </div>

      <footer>
        <!--p>Posted by: Hege Refsnes</p-->
        <p>
          {{contacto}} <a href="mailto:cclozanoj@unal.edu.co">Master Lozano</a><br>
          Copyright &copy; Un Apoyo 2017
        </p>
      </footer>

  </div>

</div>
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
